[[source]]
name = "statistics.py"
url = "https://github.com/ikanago/statistics.py"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
scipy = "*"
numpy = "*"
click = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m unittest discover tests"
format = "autopep8 -ivr ."
